<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="shortcut icon" href="favicon.ico">
  <title>ChillFlix</title>
</head>
<body ng-app="app">
  <h1>ChillFlix!</h1>
  <br>
  <div ng-controller="MovieCTRL">
  <div>
    <div ng-init="current = ''"></div>
    <div ng-init="image"></div>
      <button ng-click="clicked = true", type="submit">Show Me What To Watch</button>
        <div ng-show="clicked">{{current}}</div>
        <div>
          <img ng-show="clicked", ng-src={{image}}>
          </div>
      </div>
      <div>
        <button ng-click="search()", type="submit">I hate that movie</button>
      </div>
  </div>    
  <br>
  <!--<div>
    <form action="/unwatchable" method="POST"></form>
    <button type="submit">Unwatchble!</button>
  </div>-->
  <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.js'></script>
  <script src="/client/components/app.js"></script>
  <script src="client/services/random.js"></script>
</body>
</html>