body {
  background-color: black;
  color: red;
  text-align: center;
}
h1 {
  font-size: 100px;
  margin: 5px;
  font-family: Raleway;
}
img {
  border: solid white;
}
div {
  font-size: 50px;
}
.button, .choice, .hate  {
  background-color: red;
    border-radius: 60px;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    width: 50%;
    font-family: Raleway;
}
.title {
  font-family: Impact;
  margin: 15px;
  text-shadow: -2px 2px 5px white;
}
.choice {
  background-color: #cc0000;
  width: 300px;
}
.hate {
  background-color: #cc0000;
  width: 300px;
}
input {
  margin: 15px;
  width: 50%;
  height: 50px;
  font-size: 45px;
  text-align: center;
  font-family: Raleway;
}
form {
  background-color: grey;
  width: 50%;
  display: inline-block;
  padding-bottom: 20px;
  padding-top: 20px;
}
h2 {
  font-size: 50px;
  font-family: Raleway;
}